<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://educaciodigital.cat/escolesnuria/moodle/theme/xtecboost/pix/favicon_eix.ico">
    <link rel="stylesheet" href="/Assets/css/index.css">
    <title>Página Principal | Cepf Núria</title>
</head>
<body>
    <header>
        <nav class="navigation_sections">
            <div class="navigation_section_left">
                <div><img src="https://educaciodigital.cat/escolesnuria/moodle/theme/xtecboost/pix/departament.png" alt=""></div>
                <div class="navitagion_link_main">
                    <a href="#" id="cepfnuria">CEFP Núria</a>
                </div>
                <div class="navitagion_link_main">
                    <a href="" id="principal_page">Página Principal</a>
                </div>
            </div>
            <div class="navigation_section_rigth">
                <div class="navitagion_link_main">
                    <ul>
                        <li>
                            <a class="link_switch" href="">
                                <span class="lanbutton">
                                    Español - Internacional &lrm;(es)&lrm;
                                </span>
                                <div class="arrow">
                                    <img id="arrow_down" src="/Assets/img/abajo.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
                <div class="separator_class"><span class="separator"></span></div>
                <div class="navitagion_link_main">
                    <a href="" id="Access">Acceder</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="main">
            <div class="main_left">
                <h2>Calendari</h2>
            </div>
            <div class="main_rigth_logo">
                <img src="https://educaciodigital.cat/escolesnuria/moodle/pluginfile.php/1/theme_xtecboost/logo/0/logo-cefpnuria-h2.png" alt="">
            </div>
        </div>
        <div class="calendar_box">
            <div class="calendar">
                <table>
                    <thead>
                        <tr>
                            <th><span></span></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>