<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://educaciodigital.cat/escolesnuria/moodle/theme/xtecboost/pix/favicon_eix.ico">
    <link rel="stylesheet" href="../../Assets/css/index.css">
    <title>Página Principal | Cepf Núria</title>
</head>

<body>
    <header>
        <nav class="navigation_sections">
            <div class="navigation_section_left">
                <div><img src="https://educaciodigital.cat/escolesnuria/moodle/theme/xtecboost/pix/departament.png"
                        alt=""></div>
                <div class="navitagion_link_main">
                    <a href="#" id="cepfnuria">CEFP Núria</a>
                </div>
                <div class="navitagion_link_main">
                    <a href="" id="principal_page">Página Principal</a>
                </div>
            </div>
            <div class="navigation_section_rigth">
                <div class="navitagion_link_main">
                    <ul>
                        <li>
                            <a id="link_switch" class="link_switch" href="">
                                <span class="lanbutton">
                                    Español - Internacional &lrm;(es)&lrm;
                                </span>
                                <div class="arrow">
                                    <img id="arrow_down" src="/Assets/img/punta-de-flecha-hacia-arriba.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
                <div class="separator_class"><span class="separator"></span></div>
                <div class="navitagion_link_main_session">
                    <a href="" id="Access">Acceder</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="main_header_logo">
            <div class="logo_img">
                <img src="https://educaciodigital.cat/escolesnuria/moodle/pluginfile.php/1/theme_xtecboost/logo/0/logo-cefpnuria-h2.png"
                    alt="">
            </div>
        </div>
        <div class="center_name">
            <h2>CEFP NÚRIA</h2>
        </div>
        <div class="modul_searcher">
            <form id="f1" action="" method="post">
                <div class="input_search_box">
                    <div class="input_search">
                        <input type="text" placeholder="Cercar un Modul o un Curs">
                    </div>
                    <button type="submit" class="inputs_search_icon">
                        <img id="search_icon" src="../../Assets/img/lupa.png" alt="">
                    </button>
                </div>
            </form>
        </div>
        <div class="categories_box">
            <div class="categories_title">
                <h2>Categorias de Cursos</h2>
            </div>
            <div>
                <button class="wrap_button">Contraer todo</button>
            </div>
        </div>
        <hr style="margin-top: 10px;">
        <div class="categories_general_box">
            <div class="categories">
                <div class="categoria_info">
                    <h3 class="categori_name" id="categori_name">
                        <a href="#">CENTRE</a>
                        <span class="numofcourse">(1)</span>
                    </h3>
                </div>
                <div class="subcategories_box" id="subcategories_box">
                    <ul>
                        <div class="subcategori_info">
                            <li><a href="">ORGANITZACIÓ CENTER</a></li>
                            <span class="numofcourse">(1)</span>
                        </div>
                        <div class="subcategori_info">
                            <li><a href="">ESPAI TUTORIAL</a></li>
                            <span class="numofcourse">(1)</span>
                        </div>
                        <div class="subcategori_info">
                            <li><a href="">ESPAI DOCENT</a></li>
                            <span class="numofcourse">(1)</span>
                        </div>
                        <div class="subcategori_info">
                            <li><a href="">PROGRAMACIONES DE MATERIAS</a></li>
                            <span class="numofcourse">(1)</span>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="categories">
                <div class="categoria_info">
                    <h3 class="categori_name">
                        <a href="#">CFGS - Cicles Formatius de Grau Superior</a>
                        <span class="numofcourse">(1)</span>
                    </h3>
                </div>
                <div class="subcategories_box" id="subcategories_box">
                    <ul>
                        <div class="subcategori_info">
                            <li><a href="">ORGANITZACIÓ CENTER</a></li>
                            <span class="numofcourse">(1)</span>
                        </div>
                        <div class="subcategori_info">
                            <li><a href="">ESPAI TUTORIAL</a></li>
                            <span class="numofcourse">(1)</span>
                        </div>
                        <div class="subcategori_info">
                            <li><a href="">ESPAI DOCENT</a></li>
                            <span class="numofcourse">(1)</span>
                        </div>
                        <div class="subcategori_info">
                            <li><a href="">PROGRAMACIONES DE MATERIAS</a></li>
                            <span class="numofcourse">(1)</span>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="categories">
                <div class="categoria_info">
                    <h3 class="categori_name">
                        <a href="#">CFGM - Cicles Formatius de Grau Mitjà</a>
                        <span class="numofcourse">(1)</span>
                    </h3>
                </div>
            </div>
            <div class="info">
                <h3 class="categori_name">
                    <a href="#">Q-F Qualitat i Formació</a>
                    <span class="numofcourse">(1)</span>
                </h3>
            </div>
            <div class="info">
                <h3 class="categori_name">
                    <a href="#">OpenKnow</a>
                    <span class="numofcourse">(1)</span>
                </h3>
            </div>
            <div class="info">
                <h3 class="categori_name">
                    <a href="#">MINDFULNESS</a>
                    <span class="numofcourse">(1)</span>
                </h3>
            </div>
        </div>
        <!--        
        <div class="calendar_box">
            <div class="calendar">
                <table>
                    <thead>
                        <tr>
                            <th><span></span></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        -->
    </main>
    <script src="/Assets/js/index.js"></script>
</body>

</html>